version: '3.8'
services:
  postgres:
    image: postgres:15-alpine
    container_name: dms_postgres_dev
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: anminh_db
    ports:
      - "5433:5432"
    volumes:
      - postgres_data_dev:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 10s
      timeout: 5s
      retries: 5
    restart: always

  redis:
    image: redis:alpine
    container_name: dms_redis_dev
    ports:
      - "6379:6379"
    restart: always

volumes:
  postgres_data_dev:
    driver: local
